In [1]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
%matplotlib widget

import pandas as pd
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D

In [37]:
df = pd.read_csv('train.csv')
df['sex'] = df['Sex'] == 'male'
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sex
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,True
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,False
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,False
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,False
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,True

In [5]:
df.shape

(891, 12)

In [ ]:
sns.barplot(x="day", y="total_bill", hue="sex", data=tips)

In [64]:
sns.displot(data=df, x=df['Age'], hue='Sex', bins=30, height=4.27, aspect=9.7/4.27)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [72]:
# sns.set(rc={'figure.figsize':(18.7,18.27)})
sns.displot(data=df, x=df['Fare'], hue='Pclass', bins=90, palette=["C0", "C1", "k"], height=4.27, aspect=9.7/4.27)

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …